@headerHeight: 170px;
.resume-container {
    background-color: #fafafa;
    header {
        background-color: black;
        height: @headerHeight;
        position: relative;
        img.avatar {
            border: 4px solid whitesmoke;
            border-radius: 50%;
            width: 98px;
            position: absolute;
            bottom: -27%;
            left: 41%;
        }
    }
    .basicinfo {
        text-align: center;
        padding-top: 60px;
    }
}
