@import "basic";

@headerHeight: 170px;
.resume-container {
    background-color: #fafafa;

    .text-info{
        color: #666;
        margin: 8px;
        i{
            margin: 3px;
        }
    }


    header {
        background-color: black;
        height: @headerHeight;
        position: relative;
        img.avatar {
            border: 4px solid whitesmoke;
            border-radius: 50%;
            width: 98px;
            position: absolute;
            bottom: -27%;
            left: 41%;
        }
    }
    .basicinfo {
        background-color: #fafafa;
        text-align: center;
        padding-top: 60px;
        .name{
            font-size: 2rem;
            color: #333;
        }
        .description{
            font-size: 1.4rem;
            color: #333;
        }
    }
}
